@import '../variables';
@import '../extends';

.container {
    max-width: $bigContainer;
    margin: 0 auto;
    padding: 0 $containerPadding;
}

.header {
    padding-top: $padding;
    margin-bottom: $margin;

    nav {
        @extend %contentAround;
    
        a {
            font-size: $linkFontSize;
            color: $black;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: border-bottom .2s linear;
        }
    
        a:hover {
            border-bottom: 1px solid $black;
        }
    
        a + a {
            margin-left: $margin;
        }
    }
}

