%contentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

%contentAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%smallContainerWrapper {
    max-width: $smallContainer;
    padding: 0 $containerPadding;
    margin: 0 auto;
}