$margin: 15px;
$padding: 15px;

$bodyFontSize: 18px;
$inputFontSize: 14px;
$borderRadius: 3px;

$linkFontSize: 18px;


$bigContainer: 1920px;
$smallContainer: 1600px;
$containerPadding: 5px;

// colors
$white: #fff;
$black: #000;
$bodyFontColor: #757070;
$itemBGC: #b9b7b7;
$itemBtnBGC: #8a8a8a;
$itemBtnBGCHover: #575757;
$inputFcsBorder: #29B0D9;
$titleColor: #959595;
$placeholderColor: #868686;
$searchBGC: #f2f1f1;